/*reset css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*css body*/

/*
body {
  background-image: url(../assets/pixeles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
  */



h1 {
  font-family: "lora";
  font-style: italic;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgb(61, 65, 75);
  text-shadow: 1px 1px;
  width: 100%;
  height: 30vh;

}

header nav {
  position: fixed;
  width: 100%;
}

.container-fluid {
  background-color: rgb(245, 209, 234);
  font-family: "lora";
}

body {
  background-color: rgba(247, 218, 217, 1)
}


.subtitulo h2 {
  font-family: "lora";
  font-weight: 600;
  background-color: rgba(195, 191, 217, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: "lora";
  font-weight: 600;
  background-color: rgba(247, 218, 217, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentacion {

  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border: gray;
  border-radius: 20px;
  background-color: rgba(231, 169, 178, 0.9);
  box-shadow: -1px 11px 36px 6px rgba(107, 88, 125, 0.75);
}


.presentacion p {
  font-family: "Aleo";

}

/*
.knowledge {
  background-color: yellow;
  font-family: "lora";
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax (400px))
}*/
.knowledge {
  background-color: rgb(210, 195, 231);
  font-family: "lora";
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 10px;
  padding: 10px 10px;
  margin: 10px;
}

.conocim-card {
  background-color: rgba(243, 197, 204, 0.9);
  border-radius: 13px;
  padding: 10px 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  /*
  box-shadow: 6px 14px 24px 25px rgba(202, 100, 179, 0.57);
  */
}

.conocim-card h3 {
  font-size: 20px;
  font-style: bold;
  padding: 0 10px;
  background-color: rgb(175, 52, 95);
  margin: 5px;
  color: rgb(255, 255, 255);


}

.conocim-card p {
  font-family: "lora";
  padding: 10px;
  margin: 15px;
}


/*aca me quedaba mal el parrafo de las imagenes porque era muy grande asi que lo dejé comentado nada mas 
/*.card p {
  padding: 5px;
  font-weight: 200;
  font-family: "lora";
  font-style: italic;
}*/


/*
.proyect-card {
  padding: 10px 10px;
  margin: 10px;
  background-color: rgb(245, 188, 197);

}*/
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 2fr));
  gap: 3px;

}

.project p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px 10px;


}

.project-names h4 {
  font-family: "aleo";
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
  padding: 10px 10px;
  margin: 10px;
  background-color: rgb(245, 188, 197);
}

.names {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  margin: 10px 50px;
}

/*inicio de tercera sección*/
form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(169, 156, 216);
  font-family: "lora";
  font-weight: bold;
  padding: 20px 10px;
  margin: 20px;
}


#btn :hover {
  background-color: rgb(222, 132, 178);
  color: black;
}

button {
  padding: 20px 40px;
  background-color: rgb(158, 56, 80);
  color: white;
  border-radius: 14px;
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.69);
  font-size: medium;
}


/* seccion de footer */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  height: 50px;
  cursor: pointer;
  padding: 10px 10px;
}

.contact a {
  padding: 10px 50px;

}

.links :hover {
  background-color: white;
  color: crimson;
}

/*Responsive Design*/

@media (max-width: 480px) {

  #conocimientos {
    font-size: 10px;
    width: fit-content;
  }


  .project-grid {
    width: 70%;
  }

  .contact {
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

}